/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

/* Styling for the header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding-left: 250px; /* Offset for the sidebar in desktop mode */
}

/* Styling for the animated heading */
.heading {
  font-size: 10rem;
  color: #b80404;
  text-align: center;
  font-family: 'Dancing Script', cursive; /* Apply the cursive font */
}

/* Mobile and tablet styles */
@media screen and (max-width: 768px) {
  .header {
    padding-left: 0; /* Remove the offset for mobile and tablet mode */
  }

  .heading {
    font-size: 2.5rem; /* Slightly smaller font size for smaller screens */
  }
}
